In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
from tensorflow.keras.layers import Input, LSTM, Dense
from tensorflow.keras.models import Model

In [8]:
!wget https://lazyprogrammer.me/course_files/spam.csv

--2020-11-19 21:47:57--  https://lazyprogrammer.me/course_files/spam.csv
Resolving lazyprogrammer.me (lazyprogrammer.me)... 172.67.213.166, 104.31.80.48, 104.31.81.48, ...
Connecting to lazyprogrammer.me (lazyprogrammer.me)|172.67.213.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 503663 (492K) [text/csv]
Saving to: ‘spam.csv’

spam.csv            100%[===================>] 491.86K  1.25MB/s    in 0.4s

2020-11-19 21:47:58 (1.25 MB/s) - ‘spam.csv’ saved [503663/503663]

In [10]:
!ls

sample_data  spam.csv

In [14]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

pandas.core.frame.DataFrame

In [15]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [21]:
df.tail()

        v1  ... Unnamed: 4
5567  spam  ...        NaN
5568   ham  ...        NaN
5569   ham  ...        NaN
5570   ham  ...        NaN
5571   ham  ...        NaN

[5 rows x 5 columns]

In [22]:
df.shape

(5572, 5)